{% extends "base.html" %}

{% block title %}
Register Page
{% endblock %}

{% block container %}
<div class="row">
    <form method="post" enctype="multipart/form-data" class="col p-5">
        {{ form.hidden_tag() }}
        <div class="row mt-2">
            {{ form.username(class="form-control", placeholder=form.username.label.text) }}
        </div>
        <div class="row mt-2">
            {{ form.password(class="form-control", placeholder=form.password.label.text) }}
        </div>
        <div class="row mt-2">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>

{% endblock %}